@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
    font-family: 'Poppins', sans-serif;
    
  }

 

html {
    background: var(--backGround);
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding: 4rem;
    /* overflow-x: hidden; */
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--divider);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--blue);
}


